/* PAGE HERO */
.c-page-hero {
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

    .c-page-hero__image {
        display: block;
        max-width: 100%;
        margin: 0 auto 10px;
    }


