/* PAGE CONTENT */
.c-page-content {
    margin-bottom: 1.5rem;
}

    .c-page-content__title {
        max-width: 100%;
        margin: 0;
        margin-bottom: 1.5rem;
        font-size: 1.625rem;
        letter-spacing: 0.05em;
        color: #bcbbbb;
    }


